<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueTodo</title>
    <link rel="stylesheet" href="index.css">
  </head>

  <body>
    <main id="app" class="Wrapper">
      <header class="Header">
        <h1>VueTodo V1</h1>
        <div class="Header-right">
          <div @click="toggleModal('help')" class="Header-item">HELP</div>
          <div @click="toggleModal('settings')" class="Header-item">SETTINGS</div>
          <a href="https://github.com/johnveloper/vue-todo" class="Header-item">GITHUB</a>
        </div>
      </header>
      <input 
        v-model="text"
        @keydown.enter="addItem" 
        class="Input"
        placeholder="Type here..." 
        spellcheck="false"
      >
      <div 
        v-for="item in items"
        @click="handleItemTap(item.id, $event)"
        class="Item"
        :class="{ 'Item--done': item.done }"
      > 
        {{ item.text }}
      </div>
      <div class="Modal" v-if="modals.settings" @click.self="toggleModal('settings')">
        <div class="Modal-content">
          <div class="Modal-header">Settings</div>
          <div class="Modal-row">
            <div 
              class="Modal-switch"
              :class="{ 'Modal-switch--active': settings.moveToBottom }"
              @click="toggleSetting('moveToBottom')"
            ></div>
            Move finished tasks to the bottom
          </div>
          <div class="Modal-row">
            <div 
              class="Modal-switch"
              :class="{ 'Modal-switch--active': settings.moveToTop }"
              @click="toggleSetting('moveToTop')"
            ></div>
            Move unfinished tasks to the top
          </div>
        </div>
      </div>
      <div class="Modal" v-if="modals.help" @click.self="toggleModal('help')">
        <div class="Modal-content">
          <div class="Modal-header">Help</div>
          <p>Tap on todo entry to toggle its completion status.</p>
          <p>Press shift and tap at the todo entry to remove it.</p>
          <p>[Under Development] On mobile, press and hold a todo entry to remove it.</p>
      </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="index.js"></script>
  </body>

</html>