<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueTodo</title>
    <link rel="stylesheet" href="index.css">
  </head>

  <body>
    <main id="app" class="Wrapper">
      <h1>VueTodo</h1>
      <input 
        v-model="text"
        @keydown.enter="addItem" 
        class="Input"
        placeholder="Type here..." 
        spellcheck="false"
      >
      <div 
        v-for="item in items"
        @click="markItemAsDone(item.id)"
        class="Item"
        :class="{ 'Item--done': item.done }"
      >
        {{ item.text }}
      </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="index.js"></script>
  </body>

</html>